form{
    display:flex;
    padding:5px;
    justify-content: space-around;
    align-items: center;
}

thead th{
    position: sticky;
    top:0;
}

tbody .sticky-bottom{
    position: sticky;
    bottom: 0;
}

.mb-3, .my-3 {
    margin: .5rem!important;
}